
.compStyles{
    font-size: 19px;
    cursor: pointer;
}

.displayTeamDiv{
    hr{
        font-size: 5px;
    }
    
}

.teamMembers{
   
    padding:2px;
    
}

.displayTeamDiv{
    max-height: 600px;
    overflow-y: scroll;
}