@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

body > .navbar-default {
  font-size: 13px;
  background-color: #5a8ed1;
  margin-bottom: 0px;
}

.carousel .slide img {
  width: 100%;
  vertical-align: top;
  height: 300px;
  border: 0;
}
.carouselDiv{
  margin-bottom: 20px;
  width: 100%;
  padding: 20px;

  .img-responsive {
    display: block;
  
    max-width: 100%;
  }
}


.Index {
  padding: 20px;
  background: $cb-blue;
  text-align: center;
  border-radius: 3px;
  color: #fff;



  img {
    width: 100px;
    height: auto;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
    color: lighten($cb-blue, 25%);
  }

  > div {
    display: inline-block;
    margin: 10px 0 0;

    .btn:first-child {
      margin-right: 10px;
    }

    .btn {
      border: none;
    }
  }

  footer {
    margin: 20px -20px -20px;
    border-top: 1px solid darken($cb-blue, 10%);
    padding: 20px;

    p {
      font-size: 14px;
      line-height: 22px;
      color: lighten($cb-blue, 35%);
      margin: 0;
    }

    p a {
      color: lighten($cb-blue, 35%);
      text-decoration: underline;
    }
  }
}

@include breakpoint(tablet) {
  .Index {
    padding: 30px;

    footer {
      margin: 30px -30px -30px;
    }
  }
}

@include breakpoint(desktop) {
  .Index {
    padding: 40px;

    footer {
      margin: 40px -40px -40px;
    }
  }
}

.homePage {
   margin-top : 0px;
  .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #A3AEFF;
}


}

.homeContainer{
  
  position: relative;
}


.erudite{
  font-size: 40px;
  padding-left : 50px;
  font-family: 'Nunito';
}
.homeAbout{
  font-family: 'Nunito';
  font-size: 18px;
}
.eruditeSmall{
  font-size: 29px;
  padding-left : 80px;
  line-height: 35px;
}
.homeLogo{
  
    left: 30px;
    top : 40px;
  
}

.homeBut{
  margin-bottom: 20px;
  margin-right : 20px;
}

.journalNameList{
  padding-left: 30px;
  font-weight: bold;
}